html,
body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

div.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

div.textbox{
    width: 30%;
    height: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

div.image{
    width: 30%;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

img{
    margin: 0;
}

div.caption p{
    margin: 0;
    text-align: center;
}

img#transrail,
#tianjin,
#goldrush{
    width: 100%;
}

div#significance{
    width: 70%;
}

.header{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 1rem;
}

.header a.navlink{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

h2{
    margin-bottom: 0.5rem;
    margin-top: 0;
}

h1{
    text-align: center;
    padding-top: 10rem;
    margin: 0;
    margin-bottom: 1rem;
}

#citations{
    margin: 2rem;
}

.credit{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0.5rem; 
}